# TwitterAIPKey (use for crawler)
export CONSUMER_KEY=
export CONSUMER_SECRET=
export ACCESS_TOKEN=
export ACCESS_SECRET=


# RDS
export RDS_HOST="my-db.ckcjfvqfv2nq.ap-northeast-1.rds.amazonaws.com"
export RDS_DATABASE="db-analytics"
export RDS_USERNAME="konuma"
export RDS_PASSWORD="louis1022"

# Social Recruiter API Key (Twitter, use for social_auth)
export SOCIAL_AUTH_TWITTER_KEY="gZuGRtNM3oNbAwCFiQJ3npoyD"
export SOCIAL_AUTH_TWITTER_SECRET="dx7cTUsywyBP67sAo1pKSW9cYX2jpfqg8513Fn9M6hxwaMnF5f"

export PUBLIC_DNS=
