# TwitterAIPKey (use for crawler)
export CONSUMER_KEY=
export CONSUMER_SECRET=
export ACCESS_TOKEN=
export ACCESS_SECRET=


# RDS
export RDS_HOST=
export RDS_DATABASE=
export RDS_USERNAME=
export RDS_PASSWORD=

# Social Recruiter API Key (Twitter, use for social_auth)
export SOCIAL_AUTH_TWITTER_KEY=
export SOCIAL_AUTH_TWITTER_SECRET=

export PUBLIC_DNS=