appnope=="*"
astroid=="*"
backcall=="*"
bleach=="*"
certifi=="*"
chardet=="*"
cycler=="*"
decorator=="*"
defusedxml=="*"
Django=="*"
django-bootstrap4=="*"
entrypoints=="*"
flake8=="*"
html5lib=="*"
idna=="*"
ipykernel=="*"
ipython=="*"
ipython-genutils=="*"
ipywidgets=="*"
isort=="*"
jedi=="*"
Jinja2=="*"
jsonschema=="*"
jupyter=="*"
jupyter-client=="*"
jupyter-console=="*"
jupyter-core=="*"
jupyterlab=="*"
jupyterlab-launcher=="*"
kiwisolver=="*"
lazy-object-proxy=="*"
MarkupSafe==1.0
matplotlib=="*"
mccabe=="*"
mistune=="*"
mysqlclient=="*"
nbconvert=="*"
nbformat=="*"
notebook=="*"
numpy=="*"
oauthlib=="*"
pandas=="*"
pandocfilters=="*"
parso=="*"
pexpect=="*"
pickleshare=="*"
prometheus-client=="*"
prompt-toolkit=="*"
psycopg2=="*"
ptyprocess=="*"
pycodestyle=="*"
pyflakes=="*"
Pygments=="*"
PyJWT=="*"
pylint=="*"
pyparsing=="*"
python-dateutil=="*"
python3-openid=="*"
pytz=="*"
pyzmq=="*"
qtconsole=="*"
requests=="*"
requests-oauthlib=="*"
rope=="*"
scikit-learn=="*"
scipy=="*"
Send2Trash=="*"
simplegeneric=="*"
six=="*"
sklearn=="*"
social-auth-app-django=="*"
social-auth-core=="*"
terminado=="*"
testpath=="*"
tornado=="*"
tqdm=="*"
traitlets=="*"
typed-ast=="*"
typing=="*"
urllib3=="*"
wcwidth=="*"
webencodings=="*"
widgetsnbextension=="*"
wrapt=="*"
yapf=="*"
