{% extends 'base.html' %}
{% block content %}
<div>
  <div>
    <p><b>Twitter Account Name</b>:{{ user.access_token.screen_name }}</p>
  </div>
</div>
{% with form as f %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ f.company_name.label }}</label>
            <div>{{ f.company_name }}</div>
        </div>
        <div class="form-group">
            <label>{{ f.recruiter.label }}</label>
            <div>{{ f.recruiter }}</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endwith %}
<!-- folder place -->

<script>
    var activeElement = document.getElementById('user');
    activeElement.classList.add('active');
</script>

{% endblock %}
