{% extends "app/base.html" %}
{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <table class="table">
        <tr>
            <th class="text-center">メッセージ内容</th>
            <th class="text-right">操作</th>
        </tr>
        <tbody>
        {% for m in mess %}
            <tr><td>{{ m.message }}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-success" onclick="location.href='{% url 'app:edit' pk=m.pk %}'">
                        <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger" onclick="location.href='{% url 'app:delete' pk=m.pk %}'">
                        <i class="material-icons">close</i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% with form as f %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>{{ f.message.label }}</label>
                <div>{{ f.message }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endwith %}

    <div class="iframe-container d-none d-lg-block">
      <iframe src="https://www.amazon.co.jp/">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>

    <script>
        var activeElement = document.getElementById('create');
        activeElement.classList.add('active');
    </script>

{% endblock %}
