{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <table class="table">
        <tr>
            <th class="text-center">Message</th>
            <th class="text-right">Actions</th>
        </tr>
    <tbody>
{% for m in mess %}
    <tr><td>{{ m.message }}</td>
    <td class="td-actions text-right">
        <button type="button" rel="tooltip" class="btn btn-success" onclick="location.href='{% url 'edit' pk=m.pk %}'">
            <i class="material-icons">edit</i>
        </button>
        <button type="button" rel="tooltip" class="btn btn-danger" onclick="location.href='{% url 'delete' pk=m.pk %}'">
            <i class="material-icons">close</i>
        </button>
    </td>
    </tr>
{% endfor %}
    </tbody>
    </table>
{% with form as f %}
    <form method="post">
    {% csrf_token %}
        <div class="form-group">
            <label>{{ f.message.label }}</label>
        <div>{{ f.message }}</div>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endwith %}

<script>
    var activeElement = document.getElementById('create');
    activeElement.classList.add('active');
</script>
{% endblock %}
