{% extends 'app/base.html' %}
{% block meta_title %}削除確認{% endblock %}
{% block page_title %}削除確認{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <p>Message：{{ object.message }} </p>
                <p>削除していいですか?</p>
                <form method="post">
                    <button class="btn btn-danger">削除する</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <script>
        var activeElement = document.getElementById('create');
        activeElement.classList.add('active');
    </script>
{% endblock %}
